@using HKQTravel.Models
@using PagedList.Mvc
@model PagedList.PagedList<flight>
@{
    ViewBag.Title = "flight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Flight Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Flights</h6>
            <h1 class="mb-5">Flight Tickets</h1>
        </div>

        <div class="row g-4 justify-content-between">
            @foreach (var flight in Model)
            {
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">

                    <div class="package-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@Url.Content(@flight.flight_brand.flight_brand_image)" alt="@flight.flight_brand.flight_brand_image">
                        </div>
                        <div class="d-flex border-bottom">
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@flight.departure_location</small>
                            <small class="flex-fill text-center border-end py-2"><i class="fa fa-map-marker-alt text-primary me-2"></i>@flight.destination_location</small>
                            <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>@flight.number_of_passenger</small>
                        </div>
                        <div class="text-center p-4">
                            <h3 class="mb-0">@String.Format("{0:0,0}", flight.price) VND</h3>
                            <div class="mb-3">
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                                <small class="fa fa-star text-primary"></small>
                            </div>
                            <p>@HKQTravel.Assets.User.StringHelper.Truncate(flight.flight_name, 30)</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="@Url.Action("Detailflight", "Home", new { id = flight.flight_id})" class="btn btn-sm btn-primary px-3 border-1" style="border-radius: 30px;">Read More</a>

                            </div>
                        </div>
                    </div>

                </div>
            }
            <div class="MenuTrang" style="display: flex;justify-content: center;padding-top: 16px;">
                @Html.PagedListPager(Model, page => Url.Action("flight", new { page = page }))
            </div>
        </div>
    </div>
</div>
<!-- Flight End -->