@model HKQTravel.Models.discount

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="card">
    <div class="card-header">
        <div class="col-md-6">
            <strong class="text-danger">
                CHI TIẾT PHIẾU GIẢM GIÁ
            </strong>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                <label for="name"> Mã giảm giá</label>

            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.discount_id)
            </dd>
            <dt class="col-sm-3">
                <label for="name"> Tên mã giảm</label>

            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.discount_name)
            </dd>

            <dt class="col-sm-3">
                <label for="name">Giá trị(%)</label>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.percentage)
            </dd>

            <dt class="col-sm-3">
                <label for="name">Ngày khả dụng</label>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.discount_month)
            </dd>
            <dt class="col-sm-3">
                <label for="name">Ngày tạo</label>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.create_date)
            </dd>
            <dt class="col-sm-3">
                <label for="name">Ngày cập nhật</label>
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.update_date)
            </dd>

            <dt class="col-sm-3">
                <label for="name">Trạng thái</label>
            </dt>
            <dd class="col-sm-9">
                @if (Model.status == 1)
                {
                    <td>Đang hoạt động </td>
                }
                @if (Model.status == 2)
                {
                    <td>Tạm khóa </td>
                }
            </dd>

        </dl>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <a href="@Url.Action("Edit","Discount",new { id = Model.discount_id })" class="btn btn-sm btn-success">Sửa</a>
            <a href="@Url.Action("","Discount")" class="btn btn-sm btn-primary"> <i class="fas fa-arrow-circle-left"></i>Về lại danh sách</a>
        </div>
    </div>
</div>