@using PagedList.Mvc;
@using HKQTravel.Models;
@model PagedList.PagedList<HKQTravel.Models.bill_tour>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        DANH SÁCH HÓA ĐƠN ĐẶT PHÒNG
                    </strong>
                </div>
                <div class="col-md-6 text-right">
                   
                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Tổng cộng</th>
                    <th>Ngày tạo</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center"><input type="checkbox" /></td>
                        <td class="text-center">@item.bill_tour_id</td>
                        @if (item.total == null)
                        {
                            <td>không xác định được số tiền vì null </td>
                        }
                        else
                        {
                            <td>@String.Format("{0:0,0}đ", item.total)</td>
                        }
                        <td>@item.create_date</td>
                        <td class="text-center">
                            <a href="@Url.Action("Details","Bill_Tour",new { id = item.bill_tour_id })" class="btn btn-sm btn-info">Chi tiết</a>
                        </td>
                    </tr>
                }
            </table>

        </div>
        <div class="card-footer">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }

                    .MenuTrang li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                    }
            </style>
        </div>
    </div>
</section>