@using PagedList.Mvc;
@using HKQTravel.Models;
@model PagedList.PagedList<HKQTravel.Models.admin_account>

@{
    ViewBag.Title = "Trashlist";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Trashlist</h2>

<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">
                    <strong class="text-danger">
                        DANH SÁCH QUẢN TRỊ VIÊN
                    </strong>
                </div>
                <div class="col-md-6 text-right">


                </div>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>Tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Trạng thái</th>
                    <th>Chức năng</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center"><input type="checkbox" /></td>
                        <td class="text-center">@item.admin_id</td>
                        <td>@item.admin_user</td>
                        <td>@item.admin_password</td>
                        <td>@item.admin_fulllname</td>
                        <td>@item.email</td>

                        @if (item.status == 0)
                        {
                            <td>Đang Xóa tạm </td>
                        }

                        <td class="text-center">
                            <a href="@Url.Action("Restore","Admin",new { id = item.admin_id })" class="btn btn-sm btn-info"><i class="fas fa-undo-alt"></i></a>
                            <a href="@Url.Action("Delete","Admin",new { id = item.admin_id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                }
            </table>

        </div>
        <div class="card-footer">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
            </div>
            <style>
                .MenuTrang li {
                    display: inline;
                }

                    .MenuTrang li a {
                        color: black;
                        float: left;
                        padding: 8px 16px;
                        text-decoration: none;
                    }
            </style>
        </div>
    </div>
</section>