@model IEnumerable<HKQTravel.Models.HistoryHotel>

@{
    ViewBag.Title = "historyHotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align: center; background-color: ghostwhite;">Lịch sử khách sạn</h1>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ngày hóa đơn</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Tên khách sạn</th>
            <th scope="col">Giá/ks</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Tổng tiền</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td scope="row">@item.CreateDate</td>
                <td scope="row">@item.FullName</td>
                <td scope="row">@item.HotelName</td>
                <td scope="row">@String.Format("{0:0,0}", item.Price)</td>
                <td scope="row">@item.Quantity</td>
                <td scope="row">@String.Format("{0:0,0}", item.TotalPrice)</td>
            </tr>
        </tbody>
    }
</table>

