@model HKQTravel.Models.flight

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using (Html.BeginForm("Create", "Flight", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger">
                            THÊM CHUYẾN BAY  @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-success btn-sm" type="submit">Lưu</button>
                        <a href="@Url.Action("","Flight")" class="btn btn-sm btn-primary"> <i class="fas fa-arrow-circle-left"></i>Về lại danh sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 ">
                        <div class="mb-3">
                            <label for="name">Mã chuyến bay:</label>
                            @Html.EditorFor(model => model.flight_name, new { htmlAttributes = new { @class = "form-control", id = "tentour" } })
                        </div>
                        <div class="mb-3">
                            <label for="name">Điểm đi: </label>
                            @Html.EditorFor(model => model.departure_location, new { htmlAttributes = new { @class = "form-control", id = "departure_location" } })
                        </div>
                        <div class="mb-3">
                            <label for="name">Điểm đến:</label>
                            @Html.EditorFor(model => model.destination_location, new { htmlAttributes = new { @class = "form-control", id = "destination_location" } })
                        </div>
                        <div class="form-group">
                            <label for="name">Thời gian khởi hành:</label>
                            <input type="datetime-local" class="form-control" id="timego" name="timego">
                        </div>

                        <div class="form-group">
                            <label for="name">Thời gian về:</label>
                            <input type="datetime-local" class="form-control" id="timego" name="timereturn">
                        </div>
                        <div class="form-group">
                            <label for="name">Giá:</label>
                            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control", id = "price", type = "number" } })

                        </div>
                        <div class="form-group">
                            <label for="name">Chỗ ngồi:</label>
                            @Html.EditorFor(model => model.number_of_passenger, new { htmlAttributes = new { @class = "form-control", id = "number_of_passenger" } })

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.class_id, "Loại ghế ngồi", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.class_id, (SelectList)ViewBag.class_id, "Chọn loại ghế ngồi", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.flight_brand_id, "Hãng máy bay", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.flight_brand_id, (SelectList)ViewBag.flight_brand_id, "Chọn hãng máy bay", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.flight_brand_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-success btn-sm" type="submit">Lưu</button>
                <a href="@Url.Action("Index","Flight")" class="btn btn-sm btn-primary"> <i class="fas fa-arrow-circle-left"></i>Về lại danh sách</a>
            </div>

        </div>

    </section>
}

}